.container{
    display: flex;
    padding-top: 5vh;
}
div{
    font-size: large;
}
.nav{
    flex:1;
    padding-right: 1rem;
}
.image{
    flex:1;
    height: 85vh;
    display: inline-block;
}
img{
    height: 100%;
    border-radius: 0.2rem;
    width: 50%;
}
.thumbnail{
    height:50px;
    width: 50px;
    border-radius: 5px;
    float:left;
    object-fit: cover;
    margin-right: 10px;
}
.item{
    width: 51%;
    float: right;
    border-radius: 5px;
    padding: 5px;
    /* overflow:hidden; */
    /* white-space:nowrap; */
    /* text-overflow-middle:ellipsis; */
}
.item p{
    white-space: nowrap;
    text-overflow: clip ellipsis clip 0 3ch;
    overflow: hidden;
}

.active {
    color: white;
    background-color: #0854cc;
}
#display{
    object-fit: cover;
}
#caption{
    text-align: center;
    width: 50%;
}
p{
    font-family:verdana;
}
